{% extends "base.html" %}

{% block body %}
     <h3>add new notes here!</h3>
     <form method="POST" action="{{ url_for('save_note', token=token) }}">
         <label for="title">Title:</label><br>
         <input type="text" id="title" name="title" required><br><br>
         <label for="content">Content:</label><br>
         <textarea id="content" name="content" rows="4" cols="50" required></textarea><br><br>
         <input type="submit" value="Save Note">
    </form>
{% endblock %}
